extends layout

block content
  h1= title
  - let elephants=results
  div(class="container-fluid")
  div(class="row")
    each elephant,index in elephants
      div(class="col-sm-2 " onclick=`buy(${index})`) #{elephant.Name} - #{elephant.Cost} - #{elephant.Weight} 
  script.
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }     
    